*.gitignore
.gitattributes
__pycache__

/code/.ipynb_checkpoints
/data/runs

.pylintrc
save.data-00000-of-00001
save.meta.tmp8c316c42b40246ca81960e5a26ebd812
generator.ckpt.index
generator.ckpt.meta
generator.ckpt.data-00000-of-00001
checkpoint